<app-default-login-layout
  title="Login into your account"
  primaryBtnText="Login Now"
  secondaryBtnText="Signup Now"
>
  <form [formGroup]="loginForm">
    <app-primary-input
      formName="email"
      type="email"
      label="Email"
      placeholder="John@gmail.com"
    >
      <img src="assets/svg/email.svg" alt="" />
    </app-primary-input>
    <app-primary-input
      formName="password"
      type="password"
      label="Your Password"
      placeholder="Type Here"
    >
      <img src="assets/svg/cadeado.svg" alt="" />
    </app-primary-input>
    
  </form>
</app-default-login-layout>
